<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur The Gossip Project</h1>
    <p>Voici la liste des potins :</p>
    <ul>
      <% gossips.each do |gossip| %>
        <li><strong><%= gossip.author %>:</strong> <%= gossip.content %></li>
      <% end %>
    </ul>
    <a href="/gossips/new/">Ajouter un nouveau potin</a>
  </body>
</html>




